@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
img{
  display: block;
}
.main_header{
  padding: 20px 20px;
}
.header_title{
  text-align: center;
  font-size: 2.5em;
  margin: 10px;
  color: #000000;
}
.nav_bar{
  display: flex;
}
.header_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon_user{
  padding: 10px 10px;
  border: 1px solid #454546;
}
.icon_menu{
  font-size: 1.5em;
  border: 1px solid #454546;
  display: block;
  padding: 10px 15px;
  cursor: pointer;
}
.header_btn{
  display: block;
  padding: 10px 30px;
  color: #454546;
  border: 1px solid #454546;
  text-decoration: none;
}
.header_input{
  display: block;
  padding: 10px;
}
.main-container{
  padding: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.generalContainer{
  height: 90vh;
}
.productsContainer{
  height: 100%;
}       
.productImg{
  max-height: 450px;
  max-width: 450px;
}
.card{
  max-width: 450px;
}
.row.cards{
  justify-content: center;
}
.innerCart{ 
  overflow-y: scroll;
}
.cartBtns {
  width: 103%;
}